@use '../../token/color';
@use '../../token/font';
@use '../../token/breakpoint';
@use '../../token/sizes';

.contact-card {
  display: flex;
  gap: sizes.$card-gap;
  border: 1px solid color.$line;
  border-radius: 5px;
  padding: sizes.$card-gap;
  width: 100%;
  color: color.$text;
  font-family: font.$family;
  font-size: font.$size-text;
  font-weight: 400;

  &--photo {
    border-radius: 20px;
    height: sizes.$card-height;
    object-fit: contain;
  }

  &--identity {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &--name {
    font-weight: 600;
  }

  &--title {
    font-weight: 400;
  }

  &--contacts {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: auto;
    padding-top: 5px;
    width: 100%;
  }

  &--email,
  &--linkedin {
    display: flex;
    gap: 5px;
    color: color.$text;
    font-family: font.$family;
    font-size: 0.8rem;
  }

  &--email-value, &--linkedin-value {
    word-break: break-all;
  }

  @media screen and (min-width: breakpoint.$standard) {
    width: fit-content;

    &--email,
    &--linkedin {
      font-size: font.$size-text;
    }
  }
}
