mixin contact-card(options)
  -const { image, name, title, email, linkedin } = options
  .contact-card
    img.contact-card--photo(src=`/images/photos/${image}`, alt = name)
    .contact-card--identity
      .contact-card--name #{name}
      .contact-card--title #{title}
      .contact-card--contacts
        a.contact-card--linkedin(href = linkedin target='_blank' rel='noopener')
          i.icon-linkedin
          span.contact-card--linkedin-value Linkedin
        if(email)
          a.contact-card--email(href = `mailto:${email}`)
            i.icon-mail-alt
            span.contact-card--email-value #{email}

mixin albane-card
  +contact-card({
    image: 'albane.jpg',
    name: 'Albane Fagot-Veyron',
    title: 'Experte en engagement',
    email: 'albane.veyron@ideme.fr',
    linkedin: 'https://www.linkedin.com/in/albane-fagot-veyron/'
  })

mixin pauline-card
  +contact-card({
    image: 'pauline.jpg',
    name: 'Pauline Granjon',
    title: 'Experte en engagement',
    linkedin: 'https://www.linkedin.com/in/pauline-granjon/'
  })

mixin colin-card
  +contact-card({
    image: 'colin.jpg',
    name: 'Colin Damon',
    title: 'Développeur',
    email: 'colin.damon@ideme.fr',
    linkedin: 'https://www.linkedin.com/in/colin-damon/'
  })

mixin pascaline-card
  +contact-card({
    image: 'pascaline.jpg',
    name: 'Pascaline Larose',
    title: 'Présidente',
    email: 'pascaline.larose@ideme.fr',
    linkedin: 'https://www.linkedin.com/in/pascaline-larose-a91a5a2a/'
  })
