include contact-card.mixin.pug

+contact-card({
  image: 'colin.jpg',
  name: 'Colin Damon',
  title: 'Développeur',
  email: 'colin.damon@ideme.fr',
  linkedin: 'https://www.linkedin.com/in/colin-damon/'
})
