extends /layout-documentation

block append vars
  -active='molecule'

block title
  title Tikui - Molecules

block content
  .tikui-vertical-spacing.-s32
    .tikui-vertical-spacing--line
      h1.tikui-title-main#molecules Molecules
    .tikui-vertical-spacing--line
      include /documentation/atomic-design/quote/molecule
    .tikui-vertical-spacing--line
      include:componentDoc(height=170) contact-card/contact-card.md
      .tikui-vertical-spacing--line
      include:componentDoc(height=70) content/content.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=100) line/line.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=900) menu-main/menu-main.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=70) program/program.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=170) workshop-card/workshop-card.md
