:root {
  --color-title: #d8b566;
  --color-title-line: #efefef;
  --color-box-shadow: #d8b566;
  --color-text: #0e0e0e;
  --color-text-light: #fff;
  --color-background-page: #edd193;
  --color-background-content: #fff;
  --color-line: #d8b566;
  --color-dark-line: #0e0e0e;
  --color-menu-background: #fff8e8;
}
