@use '../token/breakpoint';

:root {
  --font-size: max(3vw, 16px);
  --font-family: inter, sans-serif;
  --font-size-text: 1rem;
  --font-size-title: 1.7rem;

  @media screen and (min-width: breakpoint.$standard) {
    --font-size: 20px;
  }
}
