@use '../../token/color';
@use '../../token/font';
@use '../../token/breakpoint';

.included {
  border: 1px solid color.$line;
  padding: 15px;
  width: 100%;
  text-align: center;
  color: color.$text;
  font-family: font.$family;
  font-size: 2rem;
  font-weight: 400;

  @media screen and (min-width: breakpoint.$standard) {
    width: fit-content;
  }
}
