@use '../../token/color';
@use '../../token/breakpoint';

.layout-main {
  position: relative;
  margin: 0;
  background-color: color.$background-page;
  padding: 0;
  min-height: 100vh;

  &--content {
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    background-color: color.$background-content;
    max-width: 1300px;
    min-height: 100vh;
  }

  @media screen and (min-width: breakpoint.$standard) {
    &--content {
      display: flex;
      gap: 25px;
    }
  }
}
