@use '../../token/color';
@use '../../token/breakpoint';

.menu-main {
  &--placeholder {
    &.-side-menu {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 80;
      margin-bottom: 15px;
      border-bottom: 1px solid color.$line;
      background-color: color.$menu-background;
      cursor: pointer;
      padding: 10px;
      width: 100%;
      color: color.$text;
    }

    &.-home {
      display: none;
    }
  }

  &--weil {
    &.-displayed {
      display: block !important;
    }

    &.-side-menu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 90;
      background-color: #a3a3a37a;
      width: 100%;
      height: 100%;
    }

    &.-home {
      display: none;
    }
  }

  &--content {
    box-sizing: border-box;

    &.-displayed {
      display: block !important;
    }

    &.-side-menu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      flex-direction: column;
      gap: 2px;
      z-index: 100;
      margin: 0;
      border-right: 1px solid color.$line;
      background-color: color.$menu-background;
      padding: 0;
      width: 75%;
      height: 100%;
      overflow: auto;
    }

    &.-home {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: baseline;
      justify-content: center;
      text-align: center;
    }
  }

  &--category {
    margin: 0;
    padding: 15px 10px;
    list-style-type: none;
  }

  &--entry {
    margin-top: 2px;
  }

  &--category-name {
    margin: 0.5rem 0 0.5rem 10px;
  }

  @media screen and (min-width: breakpoint.$standard) {
    &--content {
      &.-side-menu {
        display: block;
        position: static;
        width: 330px;
      }
    }

    &--placeholder {
      &.-side-menu {
        display: none;
      }

      &.-home {
        display: none;
      }
    }

    &--weil {
      &.-displayed {
        display: none;
      }
    }
  }
}
