include /atom/menu-category-name/menu-category-name.mixin.pug
include /atom/menu-main-entry/menu-main-entry.mixin.pug

mixin menu-main(options)
  -const { selected, mode } = options || {mode: 'menu'}
  -
    const categories = [
      {hideOnHome: true, entries:
        [
          {icon: 'home', slug: 'index', label: 'Accueil'}
        ]
      },
      {name: 'Tech', entries:
        [
          {icon: 'code', slug: 'workshops/event-storming', label: 'EventStorming'},
          {icon: 'code', slug: 'workshops/tdd-introduction', label: 'Premiers pas en TDD'},
          {icon: 'code', slug: 'workshops/code-retreat', label: 'Code retreat'},
          {icon: 'code', slug: 'workshops/business-back', label: 'Un backend Métier'},
          {icon: 'code', slug: 'workshops/java-2024', label: 'Java en 2024'},
        ]
      },
      {name: 'Engagement', entries:
        [
          {icon: 'users', slug: 'workshops/team-synergy', label: 'Synergie d\'équipe'},
          {icon: 'users', slug: 'workshops/communication-art', label: 'L\'art de la Com.'},
          {icon: 'users', slug: 'workshops/engagment-power', label: 'Puissance d\'engagement'},
          {icon: 'users', slug: 'workshops/managers-posture', label: 'Posture de manager'},
        ]
      }
    ]
  -const isHome = mode === 'home';
  -const alternative = isHome ? '-home' : '-side-menu';
  -const idSuffix = isHome ? '-home' : '';
  .menu-main(class = alternative)
    a.menu-main--placeholder(href='#', onClick = 'displayMenu()', class = alternative, id = `menu-burger${idSuffix}`)
      i.icon-menu
    .menu-main--weil(onClick = 'hideMenu()', class = alternative, id = `menu-weil${idSuffix}`)

    .menu-main--content(class = alternative, id = `menu-main-content${idSuffix}`)
      each category in categories
        if (!category.hideOnHome && isHome) || !isHome
          ul.menu-main--category
            if category.name
              li.menu-main--category-name
                +menu-category-name #{category.name}
            each entry in category.entries
              -const entrySelected = selected === entry.slug
              li.menu-main--entry
                +menu-main-entry({icon: entry.icon, slug: entry.slug, selected: entrySelected}) #{entry.label}
