@use '../../token/color';
@use '../../token/breakpoint';
@use '../../token/font';

$image-height: 400px;

.carousel {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  width: 100%;

  &--image {
    position: relative;
    flex: 0 5 2rem;
    transition: 0.3s ease-in-out;
    border-radius: 0.3rem;
    background: no-repeat 50% / cover;
    cursor: pointer;
    overflow: hidden;

    &.-selected {
      flex: 0 0 $image-height;
    }
  }

  &--legend {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 10px;
    height: 100%;
    text-shadow:
      2px 0 color.$text,
      -2px 0 color.$text,
      0 2px color.$text,
      0 -2px color.$text,
      1px 1px color.$text,
      -1px -1px color.$text,
      1px -1px color.$text,
      -1px 1px color.$text;
    color: color.$text-light;
    font-family: font.$family;
    font-size: 1.5rem;
    font-weight: 700;
  }

  @media screen and (min-width: breakpoint.$standard) {
    flex-direction: row;

    &--image {
      flex: 1 5;
      height: $image-height;

      &.-selected {
        flex: 0 0 70%;

        .carousel--legend {
          display: flex;
          transform: translateY(0%);
          visibility: visible;
          opacity: 1;
          width: 100%;
        }
      }
    }

    &--legend {
      align-items: center;
      transform: translateY(100%);
      transition: opacity 0.3s ease-in-out, transform 0.3s 0.2s;
      visibility: hidden;
      width: 0;
      overflow: hidden;
    }
  }
}
