mixin carousel-image(options)
  -const { image, legend } = options
  .carousel--image(style = `background-image:url("/images/augusterie/${image}.webp")` alt = legend)
    .carousel--legend #{ legend }

mixin carousel
  .carousel
    +carousel-image({image: 'salon', legend: 'Salon'})
    +carousel-image({image: 'cuisine', legend: 'Cuisine'})
    +carousel-image({image: 'piscine', legend: 'Jardin'})
    +carousel-image({image: 'caveBois', legend: 'Cave bois'})
    +carousel-image({image: 'caveVin', legend: 'Cave vins'})
    +carousel-image({image: 'salleComex', legend: 'Salle Comex'})
    +carousel-image({image: 'sallePolyvalente', legend: 'Salle Polyvalente'})
    +carousel-image({image: 'bulle', legend: 'Bulle'})
