extends /layout-documentation

block append vars
  -active='atom'

block title
  title Tikui - Atoms

block content
  .tikui-vertical-spacing.-s32
    .tikui-vertical-spacing--line
      h1.tikui-title-main#atoms Atoms
    .tikui-vertical-spacing--line
      include /documentation/atomic-design/quote/atom
    .tikui-vertical-spacing--line
      include:componentDoc(height=450) carousel/carousel.md
      .tikui-vertical-spacing--line
      include:componentDoc(height=160) condition/condition.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=100) included/included.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=30) link/link.md
      .tikui-vertical-spacing--line
      include:componentDoc(height=40) menu-category-name/menu-category-name.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=80) menu-main-entry/menu-main-entry.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=100) page-title/page-title.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=50) paragraph/paragraph.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=70) title/title.md
