@use '../../token/color';
@use '../../token/font';
@use '../../token/breakpoint';

.condition {
  border: 1px solid color.$dark-line;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  text-align: center;
  color: color.$text;
  font-family: font.$family;
  font-size: font.$size-text;
  font-weight: 600;

  &--first {
    color: color.$title;
  }

  @media screen and (min-width: breakpoint.$standard) {
    width: fit-content;
  }
}
