@use '../../token/color';
@use '../../token/font';
@use '../../token/breakpoint';
@use '../../token/sizes';

.workshop-card {
  display: flex;
  flex-direction: column;
  gap: sizes.$card-gap;
  justify-content: space-around;
  border: 1px solid color.$line;
  border-radius: 5px;
  padding: sizes.$card-gap;
  width: 100%;
  height: sizes.$card-height;
  color: color.$text;
  font-family: font.$family;
  font-size: 1.5rem;
  font-weight: 400;

  &--capacity, &--duration {
    display: flex;
    gap: 10px;
  }

  @media screen and (min-width: breakpoint.$standard) {
    width: fit-content;
  }
}
