mixin workshop-card(options)
  -const { capacity, duration } = options;
  .workshop-card
    .workshop-card--capacity
      i.icon-users
      span max. #{capacity} personnes
    .workshop-card--duration
      i.icon-clock
      span #{duration}
