@function var-color($name) {
  @return var(--color-#{$name});
}

$title: var-color(title);
$title-line: var-color(title-line);
$box-shadow: var-color(box-shadow);
$text: var-color(text);
$text-light: var-color(text-light);
$background-page: var-color(background-page);
$background-content: var-color(background-content);
$menu-background: var-color(menu-background);
$line: var-color(line);
$dark-line: var-color(dark-line);
