@use '../../token/color';
@use '../../token/font';

.program {
  display: table;
  color: color.$text;
  font-family: font.$family;
  font-size: font.$size-text;
  font-weight: 400;

  &--entry {
    display: table-row;
    border-spacing: 5px;
  }

  &--time {
    display: table-cell;
    text-align: right;
    white-space: nowrap;
    color: color.$title;
    font-weight: 800;
  }

  &--separator {
    display: table-cell;
    padding: 0 0.3rem;
  }

  &--content {
    display: table-cell;
  }
}
