mixin program(options)
  -const { content } = options;
  .program
    each entry in content
      .program--entry
        .program--time #{entry.time}
        .program--separator :
        .program--content #{entry.content}
