include program.mixin.pug

+program({
  content: [
    {
      time: '08h45 - 09h15',
      content: 'Accueil & petit-déjeuner',
    },
    {
      time: '09h15 - 10h00',
      content: 'Un peu de théorie',
    },
  ]
})
