@use '../../token/color';
@use '../../token/font';
@use '../../token/breakpoint';

.title {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0.7rem 0;
  text-align: center;
  text-transform: uppercase;
  color: color.$text;
  font-family: font.$family;
  font-size: font.$size-title;
  font-weight: 400;

  &::before {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    margin-left: -40%;
    border-bottom: 5px solid color.$title-line;
    width: 80%;
    height: 5px;
    content: '';
  }
}
