@use '../../token/color';
@use '../../token/font';

.menu-category-name {
  margin: 0;
  border-bottom: 1px dashed color.$line;
  line-height: 1.7rem;
  color: color.$text;
  font-family: font.$family;
  font-size: 1.1rem;
  font-weight: 300;
}
