@use '../../token/color';
@use '../../token/font';

.paragraph {
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  color: color.$text;
  font-family: font.$family;
  font-size: font.$size-text;
  font-weight: 400;
}
