mixin meta-properties(options)
  -const {page, title, description} = options || {};
  -const SITE_URL = 'https://ateliersideme.fr';
  -const SITE_TITLE = 'Ateliers Ideme';
  -const ogUrl = page ? `${SITE_URL}/${page}.html` : SITE_URL;
  -const ogTitle = title ? `${SITE_TITLE} - ${title}` : `${SITE_TITLE}`;
  -const finalDescription = description ? description : 'Ateliers All Inclusive pour la tech et l\'engagement par Ideme';
  meta(name='description' content=finalDescription)
  meta(property='og:url' content=ogUrl)
  meta(property='og:type' content='website')
  meta(property='og:title' content=ogTitle)
  meta(property='og:description' content=finalDescription)
  meta(property='og:locale' content='fr_FR')
