extends /layout

include /atom/condition/condition.mixin.pug
include /atom/title/title.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/included/included.mixin.pug
include /atom/carousel/carousel.mixin.pug
include /molecule/menu-main/menu-main.mixin.pug
include /molecule/line/line.mixin.pug
include /molecule/contact-card/contact-card.mixin.pug

block body
  .layout-main
    .layout-main--content
      +menu-main({selected: 'index'})
      .content
        h1.page-title Ateliers All Inclusive
        +line
          +paragraph Pour améliorer la performance collective, il est essentiel d'#[strong engager les équipes] et d'#[strong améliorer les pratiques].
          +paragraph Nous proposons des ateliers adressant ces deux axes et nous nous occupons des irritants dans l'organisation de ce type d'événements : préparation, animation, lieux, restauration, ...
          +paragraph On s'occupe de tout pour que votre atelier sur mesure marque les esprits&nbsp;!
        +line
          +condition({first: '6 à 19 personnes', second: 'en fonction du format choisi'})
          +condition({first: '1h de call préparatoire', second: 'avec l\'intervenant·e'})
        +line
          +title Ateliers
        +line
          +menu-main({mode: 'home'})
        +line
          +title Inclus
        +line
          +included PRÉPARATION
          +included ANIMATION
          +included LIEUX D'EXCEPTION
          +included RESTAURATION
        +line
          +title L'Augusterie
        +line
          +carousel
        +line
          +paragraph 39 Rue Alexandre Boutin, 69100 Villeurbanne
        +line
          iframe(width='100%' height='450px' frameborder='0' allowfullscreen src='//umap.openstreetmap.fr/fr/map/laugusterie_1043823?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false&captionMenus=true')
        +line
          +title Contacts
        +line
          +pascaline-card
          +albane-card
          +pauline-card
          +colin-card
        +line
          +title Tarifs
        +line
          +condition({first: '4 900 € HT', second: 'par jour d\'atelier'})
