doctype html

block config

html(lang='fr')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title=['Ateliers Ideme', pageTitle].filter(term => term !== undefined).join(' - ')
    block head
    link(href='[[TIKUI_BASEPATH]]font/inter/index.css' rel='stylesheet')
    link(href='[[TIKUI_BASEPATH]]font/inter/500.css' rel='stylesheet')
    link(href='[[TIKUI_BASEPATH]]glyph/css/ateliers-ideme-icons.css' rel='stylesheet')
    link(href='[[TIKUI_BASEPATH]]tikui.css' rel='stylesheet')
  body
    block body
      p Please include a body here.
    script(src='[[TIKUI_BASEPATH]]/scripts/ateliersideme.js')
