@use 'token/breakpoint';
@use 'variables/variables';
@use 'atom/atom';
@use 'molecule/molecule';
@use 'template/template';

:root {
  font-size: var(--font-size);
}

body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}
