@use '../../token/breakpoint';

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem 1rem 1rem;

  @media screen and (min-width: breakpoint.$standard) {
    padding: 0 1rem 1rem;
  }
}
