@use '../../token/color';
@use '../../token/font';

.page-title {
  display: block;
  position: relative;
  margin: 0;
  padding: 0.7rem 0;
  height: fit-content;
  text-align: center;
  color: color.$title;
  font-family: font.$family;
  font-size: 2.5rem;

  &::before {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -37.5%;
    border-bottom: 5px solid color.$title-line;
    width: 75%;
    height: 5px;
    content: '';
  }
}
