@use '../../token/color';
@use '../../token/font';

.menu-main-entry {
  --_weight: 500;

  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0;
  border-radius: 5px;
  padding: 7px;
  text-decoration: none;
  color: color.$text;
  font-family: font.$family;
  font-size: font.$size-text;
  font-weight: var(--_weight);

  &:hover, &.-selected {
    background-color: #e4dbc7;
  }
}
