mixin menu-main-entry(options)
  -const {icon, slug, selected} = options || {};
  -const url = `/${slug}.html`;
  -const alternative = selected ? '-selected': null
  a.menu-main-entry(href=url, class = alternative)
    .menu-main-entry--icon
      i(class = 'icon-' + icon)
    .menu-main-entry--content
      block
