extends /layout

include /atom/title/title.mixin.pug
include /atom/link/link.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /molecule/menu-main/menu-main.mixin.pug
include /molecule/line/line.mixin.pug
include /molecule/contact-card/contact-card.mixin.pug
include /molecule/workshop-card/workshop-card.mixin.pug
include /molecule/program/program.mixin.pug

block config
  -const pageTitle = 'Un backend centré sur le Métier'

block body
  .layout-main
    .layout-main--content
      +menu-main({selected: 'workshops/business-back'})
      .content
        h1.page-title Un backend centré sur le Métier
        +line
          +colin-card
          +workshop-card({
            capacity: 8,
            duration: '1 jour'
          })
        +line
          +paragraph La journée commence en créant un nouveau répertoire et se termine avec des WebServices testés, bien conçus et centrés sur le Métier.
          +paragraph Pour cet atelier, nous coderons en Java et il faut avoir cloné et démarré #[+link('https://github.com/jhipster/jhipster-lite', {target:'_blank'}) JHipster-lite] que nous utiliserons pour nous lancer plus rapidement. Il faut aussi un environnement de développement Java fonctionnel.
        +line
          +title Programme
        +line
          +program({
            content: [
              {
                time: '08h45 - 09h15',
                content: 'Accueil & petit-déjeuner'
              }, {
                time: '09h15 - 09h45',
                content: 'Bootstrap'
              }, {
                time: '09h45 - 12h00',
                content: 'Implémentation du Métier'
              }, {
                time: '12h00 - 13h30',
                content: 'Déjeuner'
              }, {
                time: '13h30 - 17h00',
                content: 'Implémentation des WebServices'
              }, {
                time: '17h00 - 17h30',
                content: 'Rétrospective'
              }
            ]
          })
