extends /layout

include /atom/title/title.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /molecule/menu-main/menu-main.mixin.pug
include /molecule/line/line.mixin.pug
include /molecule/contact-card/contact-card.mixin.pug
include /molecule/workshop-card/workshop-card.mixin.pug
include /molecule/program/program.mixin.pug

block config
  -const pageTitle = 'Code retreat'

block body
  .layout-main
    .layout-main--content
      +menu-main({selected: 'workshops/code-retreat'})
      .content
        h1.page-title Code Retreat
        +line
          +colin-card
          +workshop-card({
            capacity: 19,
            duration: '1 jour'
          })
        +line
          +paragraph Une journée pour parfaire votre maîtrise de TDD ou du refactoring. L'occasion, aussi, d'explorer de nouvelles approches de design dans un environnement fait pour apprendre.
          +paragraph Nous ferons le même exercice plusieurs fois avec de nouvelles contraintes à chaque itération.
        +line
          +title Programme
        +line
          +program({
            content: [
              {
                time: '08h45 - 09h15',
                content: 'Accueil & petit-déjeuner'
              }, {
                time: '09h15 - 09h40',
                content: 'Introduction'
              }, {
                time: '09h40 - 12h30',
                content: 'Sessions 1 à 3'
              }, {
                time: '12h30 - 14h00',
                content: 'Déjeuner'
              }, {
                time: '14h00 - 17h00',
                content: 'Sessions 4 à 6'
              }, {
                time: '17h00 - 17h30',
                content: 'Rétrospective'
              }
            ]
          })
