extends /layout

include /atom/title/title.mixin.pug
include /atom/link/link.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /molecule/menu-main/menu-main.mixin.pug
include /molecule/line/line.mixin.pug
include /molecule/contact-card/contact-card.mixin.pug
include /molecule/workshop-card/workshop-card.mixin.pug
include /molecule/program/program.mixin.pug

block config
  -const pageTitle = 'L’art de la communication'

block body
  .layout-main
    .layout-main--content
      +menu-main({selected: 'workshops/communication-art'})
      .content
        h1.page-title L’art de la communication
        +line
          +albane-card
          +pauline-card
          +pascaline-card
          +workshop-card({
            capacity: 19,
            duration: '1 jour'
          })
        +line
          +paragraph
            | Une journée dédiée à l'exploration et à l'amélioration de vos compétences en communication.
            | Des exercices interactifs couplés à une partie théorique pour développer votre écoute active.
            | Découvrez également les fondamentaux de la Process Communication pour perfectionner vos échanges interpersonnels.
            | Repartez avec une boîte à outils complète pour des interactions plus fluides, authentiques et constructives.
        +line
          +title Programme
        +line
          +program({
            content: [
              {
                time: '09h00 - 09h30',
                content: 'Accueil & petit-déjeuner'
              }, {
                time: '09h30 - 10h00',
                content: 'Introduction'
              }, {
                time: '10h00 - 12h30',
                content: 'Atelier Ecoute active'
              }, {
                time: '12h30 - 14h00',
                content: 'Déjeuner'
              }, {
                time: '14h00 - 17h00',
                content: 'Atelier Process Com'
              }, {
                time: '17h00 - 17h15',
                content: 'Rétrospective'
              }
            ]
          })
        +line
          +title Ecoute active
        +line
          +paragraph
            | Cet atelier permet de muscler son écoute afin de développer une communication efficace, accroitre son leadership, encore mieux comprendre les besoins des équipes ou encore gérer des conflits.
        +line
          +title Process com
        +line
          +paragraph
            | Un atelier théorique et pratique qui permet à chaque participant de décoder les 6 types de personnalités,
            | comprendre les besoins psychologiques de chaque type de personnalité, identifier les signaux de stress, adapter sa communication en fonction du type de personnalité de son interlocuteur, renforcer son leadership et sa gestion des équipes.
