extends /layout

include /atom/title/title.mixin.pug
include /atom/link/link.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /molecule/menu-main/menu-main.mixin.pug
include /molecule/line/line.mixin.pug
include /molecule/contact-card/contact-card.mixin.pug
include /molecule/workshop-card/workshop-card.mixin.pug
include /molecule/program/program.mixin.pug

block config
  -const pageTitle = 'Votre puissance d\'engagement'

block body
  .layout-main
    .layout-main--content
      +menu-main({selected: 'workshops/engagment-power'})
      .content
        h1.page-title Votre puissance d'engagement
        +line
          +albane-card
          +pauline-card
          +pascaline-card
          +workshop-card({
            capacity: 19,
            duration: '1 jour'
          })
        +line
          +paragraph
            | Explorez les fondements théoriques de l'engagement et découvrez comment ils peuvent se traduire concrètement en entreprise.
            | À travers une prise de hauteur, identifiez les deux piliers de l'engagement les plus pertinents à renforcer pour votre équipe/secteur.
            | Enfin, notre exercice d'innovation vous permettra d'élaborer des plans d'action concrets et inspirants pour dynamiser ces piliers.
            | Repartez avec une vision claire et des stratégies efficaces pour cultiver un engagement durable au sein de votre organisation.
        +line
          +title Programme
        +line
          +program({
            content: [
              {
                time: '09h00 - 09h30',
                content: 'Accueil & petit-déjeuner'
              }, {
                time: '09h30 - 10h00',
                content: 'Introduction'
              }, {
                time: '10h00 - 10h45',
                content: 'Présentation des piliers de l’engagement'
              }, {
                time: '10h45 - 12h00',
                content: 'Ateliers Athène'
              }, {
                time: '12h00 - 14h00',
                content: 'Déjeuner'
              }, {
                time: '14h00 - 15h00',
                content: 'Ateliers Athène (suite)'
              }, {
                time: '15h00 - 17h00',
                content: 'Atelier Lightning Decision Jam (sur 2 piliers)'
              }, {
                time: '17h00 - 17h15',
                content: 'Rétrospective'
              }
            ]
          })
        +line
          +title Présentation des piliers de l’engagement
        +line
          +paragraph Théorie et échange
        +line
          +title Ateliers Athène
        +line
          +paragraph Prise de hauteur et positionnement sur chacun des piliers d’engagement.
        +line
          +title LDJ
        +line
          +paragraph
            | L’atelier "Lightning Decision Jam" est une séance de résolution rapide et créative de challenges conçue pour stimuler l'innovation,
            | la prise de décision efficace et la collaboration en équipe.
            | Inspiré du concept de "design sprint" et développé pour être rapide et ciblé,
            | cet atelier permet de transformer une idée ou un problème en opportunité d'action en seulement quelques heures.
            | Création de votre blason d’engagement.
