extends /layout

include /atom/title/title.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /molecule/menu-main/menu-main.mixin.pug
include /molecule/line/line.mixin.pug
include /molecule/contact-card/contact-card.mixin.pug
include /molecule/workshop-card/workshop-card.mixin.pug
include /molecule/program/program.mixin.pug

block config
  -const pageTitle = 'EventStorming'

block body
  .layout-main
    .layout-main--content
      +menu-main({selected: 'workshops/event-storming'})
      .content
        h1.page-title EventStorming
        +line
          +colin-card
          +workshop-card({
            capacity: 8,
            duration: '1 jour'
          })
        +line
          +paragraph Apprenez à #[strong organiser] et #[strong animer] un EventStorming : l'atelier idéal pour explorer les problèmes.
        +line
          +paragraph La grande idée d'EventStorming est de commencer par identifier les événements : des choses qui se sont passées et qui modifient le système. Avec cette approche, on peut se concentrer sur le problème pour commencer à entrevoir des solutions.
        +line
          +title Programme
        +line
          +program({
            content: [
              {
                time: '08h45 - 09h15',
                content: 'Accueil & petit-déjeuner'
              }, {
                time: '09h15 - 10h00',
                content: 'Un peu de théorie'
              }, {
                time: '10h00 - 12h00',
                content: 'Un premier EventStorming'
              }, {
                time: '12h00 - 13h30',
                content: 'Déjeuner'
              }, {
                time: '13h30 - 15h30',
                content: 'Apprenez à animer'
              }, {
                time: '15h45 - 17h30',
                content: 'Vous animez'
              }, {
                time: '17h30 - 18h00',
                content: 'Rétrospective'
              }
            ]
          })
