extends /layout

include /atom/title/title.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /molecule/menu-main/menu-main.mixin.pug
include /molecule/line/line.mixin.pug
include /molecule/contact-card/contact-card.mixin.pug
include /molecule/workshop-card/workshop-card.mixin.pug
include /molecule/program/program.mixin.pug

block config
  -const pageTitle = 'Java en 2024'

block body
  .layout-main
    .layout-main--content
      +menu-main({selected: 'workshops/java-2024'})
      .content
        h1.page-title Java en 2024
        +line
          +colin-card
          +workshop-card({
            capacity: 8,
            duration: '1 jour'
          })
        +line
          +paragraph Paradigmes fonctionnels, records, Pattern Matching, ...
          +paragraph En quelques années, les possibilités offertes par Java se sont largement étoffées.
          +paragraph Prenons la journée pour arpenter les chemins ouverts par ces nouveaux outils
        +line
          +title Programme
        +line
          +program({
            content: [
              {
                time: '08h45 - 09h15',
                content: 'Accueil & petit-déjeuner'
              }, {
                time: '09h15 - 09h45',
                content: 'Un peu d\'histoire'
              }, {
                time: '09h45 - 12h00',
                content: 'Commençons l\'exploration'
              }, {
                time: '12h00 - 13h30',
                content: 'Déjeuner'
              }, {
                time: '13h30 - 17h00',
                content: 'Continuons l\'exploration'
              }, {
                time: '17h00 - 17h30',
                content: 'Rétrospective'
              }
            ]
          })
