extends /layout

include /atom/title/title.mixin.pug
include /atom/link/link.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /molecule/menu-main/menu-main.mixin.pug
include /molecule/line/line.mixin.pug
include /molecule/contact-card/contact-card.mixin.pug
include /molecule/workshop-card/workshop-card.mixin.pug
include /molecule/program/program.mixin.pug

block config
  -const pageTitle = 'La posture de manager'

block body
  .layout-main
    .layout-main--content
      +menu-main({selected: 'workshops/managers-posture'})
      .content
        h1.page-title La posture de manager
        +line
          +albane-card
          +pauline-card
          +pascaline-card
          +workshop-card({
            capacity: 19,
            duration: '1 jour'
          })
        +line
          +paragraph
            | Plongez dans les pratiques clés de l'écoute active et du développement d'un leadership authentique.
            | Grâce à des exercices engageants justement dosés avec la partie théorique,
            | apprenez à cultiver une présence managériale qui favorise la confiance et le développement de votre équipe.
        +line
          +title Programme
        +line
          +program({
            content: [
              {
                time: '09h00 - 09h30',
                content: 'Accueil & petit-déjeuner'
              }, {
                time: '09h30 - 10h00',
                content: 'Introduction'
              }, {
                time: '10h00 - 12h00',
                content: 'Atelier leadership authentique'
              }, {
                time: '12h00 - 14h00',
                content: 'Déjeuner'
              }, {
                time: '14h00 - 16h30',
                content: 'Atelier écoute active'
              }, {
                time: '16h30 - 17h00',
                content: 'Rétrospective'
              }
            ]
          })
        +line
          +title Leadership authentique
        +line
          +paragraph
            | Cet atelier sous forme d'auto-coaching et d'exercices en sous groupe permet de prendre du recul sur la notion de leadership,
            | s'inspirer des autres et aller à la rencontre de son leadership authentique.
            | L’atelier permet également de commencer à le matérialiser et ancrer la mise en action.
            | Chaque personne repart avec son outil d’auto-coaching.
        +line
          +title Écoute active
        +line
          +paragraph
            | Cet atelier permet de muscler son écoute afin de développer une communication efficace, accroitre son leadership,
            | encore mieux comprendre les besoins des équipes ou encore gérer des conflits.
