extends /layout

include /atom/title/title.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /molecule/menu-main/menu-main.mixin.pug
include /molecule/line/line.mixin.pug
include /molecule/contact-card/contact-card.mixin.pug
include /molecule/workshop-card/workshop-card.mixin.pug
include /molecule/program/program.mixin.pug

block config
  -const pageTitle = 'Premiers pas en TDD'

block body
  .layout-main
    .layout-main--content
      +menu-main({selected: 'workshops/tdd-introduction'})
      .content
        h1.page-title Premiers pas en TDD
        +line
          +colin-card
          +workshop-card({
            capacity: 6,
            duration: '1 jour'
          })
        +line
          +paragraph Le développement dirigé par les tests (ou TDD) s’explique en quelques minutes. Il faut, par contre, des années pour comprendre cette approche.
          +paragraph Vous ressortirez de cette journée avec les clés pour vous lancer au quotidien et la marche à suivre pour parfaire votre pratique.
        +line
          +title Programme
        +line
          +program({
            content: [
              {
                time: '08h45 - 09h15',
                content: 'Accueil & petit-déjeuner'
              }, {
                time: '09h15 - 09h45',
                content: 'Introduction'
              }, {
                time: '09h45 - 11h00',
                content: 'Un premier cas simple'
              }, {
                time: '11h00 - 12h00',
                content: 'Les clés d\'un code testable'
              }, {
                time: '12h00 - 13h30',
                content: 'Déjeuner'
              }, {
                time: '13h30 - 15h15',
                content: 'Faire émerger une solution'
              }, {
                time: '15h15 - 17h00',
                content: 'Focus sur le refactoring'
              }, {
                time: '17h00 - 17h30',
                content: 'Rétrospective'
              }
            ]
          })
