extends /layout

include /atom/title/title.mixin.pug
include /atom/link/link.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /molecule/menu-main/menu-main.mixin.pug
include /molecule/line/line.mixin.pug
include /molecule/contact-card/contact-card.mixin.pug
include /molecule/workshop-card/workshop-card.mixin.pug
include /molecule/program/program.mixin.pug

block config
  -const pageTitle = 'Synergie d’équipe'

block body
  .layout-main
    .layout-main--content
      +menu-main({selected: 'workshops/team-synergy'})
      .content
        h1.page-title Synergie d’équipe
        +line
          +albane-card
          +pauline-card
          +pascaline-card
          +workshop-card({
            capacity: 15,
            duration: '1 jour'
          })
        +line
          +paragraph
            | Plongez dans une journée dédiée à renforcer les liens et à stimuler la synergie au sein de votre équipe.
            | Découvrez des stratégies pratiques et des exercices/serious games pour favoriser une collaboration harmonieuse.
            | Repartez avec une équipe plus unie et des axes concrets pour maintenir et développer cette dynamique au quotidien.
        +line
          +title Programme
        +line
          +program({
            content: [
              {
                time: '09h00 - 09h30',
                content: 'Accueil & petit-déjeuner'
              }, {
                time: '09h30 - 10h00',
                content: 'Introduction'
              }, {
                time: '10h00 - 11h00',
                content: 'Introduction à la systémie'
              }, {
                time: '11h15 - 12h45',
                content: 'Atelier CANVA'
              }, {
                time: '12h00 - 14h00',
                content: 'Déjeuner'
              }, {
                time: '14h15 - 15h15',
                content: 'Synergie challenge'
              }, {
                time: '15h15 - 16h45',
                content: 'Atelier Lightning Decision Jam'
              }, {
                time: '16h45 - 17h15 ',
                content: 'Rétrospective'
              }
            ]
          })
        +line
          +title CANVA
        +line
          +paragraph
            | Séance de collaboration permettant à une équipe ou une entité de mieux comprendre sa dynamique, son mode de fonctionnement et ses objectifs.
            | Cet atelier encourage les membres à réfléchir à des éléments tels que leurs valeurs, leurs buts, leurs compétences, leurs rôles et leurs attentes mutuelles.
            | Cette méthode vise à renforcer la cohésion, à améliorer la communication interne et à favoriser une compréhension commune des priorités et des responsabilités de l'équipe/entité/entreprise.
        +line
          +title Synergie Challenge
        +line
          +paragraph
            | Gaming autour de la confiance et de la communication.
        +line
          +title LDJ
        +line
          +paragraph
            | L’atelier "Lightning Decision Jam" est une séance de résolution rapide et créative de challenges conçue pour stimuler l'innovation,
            | la prise de décision efficace et la collaboration en équipe. Inspiré du concept de "design sprint" et développé pour être rapide et ciblé,
            | cet atelier permet de transformer une idée ou un problème en opportunité d'action en seulement quelques heures.
